<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mudança de Endereço</title>
</head>
<body>

    <h1 class="page-title">Mudança de Endereço</h1>

    <div class="card-coleta">
        <p class="subtitle">Coleta de Dados</p>
        <div class="container">
            <label>Via de Contato</label>
            <div class="radio-group">
                <label><input type="radio" name="via" value="Central"> Central</label>
                <label><input type="radio" name="via" value="OPA"> OPA! Suite</label>
            </div>
        </div>

        <div class="container">
            <label>Nome do Solicitante</label>
            <input type="text" name="nome" placeholder="Ex: Pietro de Alexandria Picoli">
        </div>

        <div class="container">
            <label>Contato: </label>
            <input type="text" name="contato" placeholder="Ex: (XX) XXXXX-XXXX" maxlength="15">
        </div>
    </div>


</body>
</html>